


    <div class="container">
      <div class = "row">
        <div class="col-sm-6">
          <p >Dot to Dot Consortium</p>
        </div>
        <div class="col-sm-6" >
          <p >Sponsors</p>
        </div>
      </div>
      <div class ="row">
        <div class="col-sm-6"> <p>members</p></div>
        <div class="col-sm-4" >
           <p>Aspiring Communitys Fund</p>
        </div>
        <div class="sm-col-2">
          <p>&nbsp;&nbsp;&nbsp;Glasgow City Council</p>
        </div>
      </div>
      <div class="row">




            <div class="col-sm-2">
              <img src="../../images/studiopoplogo.PNG" alt="studio pop logo" style="width:90%"/>
            </div>
            <div class="col-sm-2">
              <img src="../../images/logo.png" alt="Clyde Electronics" style="width:90%"/>
              </div>
            <div class="col-sm-2">
              <img src="../../images/DunardPrimarySchool.png" alt="Dunard Primary School" style="width:70%"/>
            </div>










            <div class="col-sm-2">
                         <img  src="../../images/esf-logo-x2-960-2.jpg" alt="european social fund" style="width:90%"/>
            </div>
            <div class="col-sm-2">
                       <img src="../../images/scotgov.jpg" alt="Scottish  government logo" style="width:120%"  />
            </div>
            <div class="col-sm-2">
              <img src="../../images/partners/StallSpaces.png" alt="Stalled Spaces" style="width:90%" />
            </div>


    </div>
      <div class="row">
       <div class="col-sm-6">
         DOT TO DOT &reg;	&copy; Studio Pop CIC
       </div>
        <div class="col-sm-6" align="right">Icons made by<a href="http://www.freepik.com" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
     </div>



</div>

