<div class="container">
  <div class="row">
  <div class="col-sm-4">
    <md-card>
      <h1>Pending Projects</h1>

        <div *ngFor="let project of  projectRequests|async">


          <md-card  class="myCard {{project?.type}}"  *ngIf="project?.owner=== myuserId">

            <md-card-header>

              <md-card-title >
                <p><img class="card-avatar" src="{{project?.icon}}" /><strong>&nbsp; &nbsp; {{project?.name}}</strong></p>
              </md-card-title>

            </md-card-header>

            <md-card-content>

              <p>
                <img md-card-image  class="myImage"  src="{{project?.image}}" alt="Project Image" />
              </p>
              <p>{{project?.summary}}</p>
              <p class="percentage">{{project?.finical}}</p>
              <p class="percentage">{{project?.personal}}</p>
              <p class="percentage">{{project?.material}}</p>
              <p class="hashtag">{{project?.hashtag}}</p>

            </md-card-content>


        <!-- -L3NgjoKoOpKF4LG0JfO-->

          </md-card>


      </div>
    </md-card>
  </div>

  <div id="OwnedProjects" class=" col-sm-4 ">

    <md-card>

      <h1>My Projects</h1>

      <div  *ngFor="let myProject of ownedProjects|async ">
        <div *ngFor="let project of projects|async">

          <md-card  class="myCard {{project?.type}}" *ngIf="project?.id === myProject?.name && (project.id!==undefined && myProject.name!==undefined)" >

            <md-card-header>

              <md-card-title href="#" [routerLink]="['/myProject',project.id]">
                <p><img class="card-avatar" src="{{project?.icon}}" /><strong>&nbsp; &nbsp; {{project?.name}}</strong></p>
              </md-card-title>

            </md-card-header>

            <md-card-content>

              <p>
                <img md-card-image  class="myImage"  src="{{project?.image}}" alt="Project Image" />
              </p>
              <p>{{project?.summary}}</p>
              <p class="percentage">{{project?.finical}}</p>
              <p class="percentage">{{project?.personal}}</p>
              <p class="percentage">{{project?.material}}</p>
              <p class="hashtag">{{project?.hashtag}}</p>
              <a href="#" [routerLink]="['/myProject',project.id]">View Details</a>

            </md-card-content>

          </md-card>

        </div>

      </div>

    </md-card>

  </div>

    <hr>

  <div id="joinedProjects" class="col-sm-4">

    <md-card>

      <h1>Joined Projects</h1>

      <div  *ngFor="let myProject of joinedProjects|async ">
        <div *ngFor="let project of projects|async">

            <md-card  class="myCard {{project?.type}}" *ngIf="project?.id === myProject?.id" >

              <md-card-header>

                <md-card-title href="#" [routerLink]="['/myProject',project?.id]">
                  <p><img class="card-avatar" src="{{project?.icon}}" /><strong>&nbsp; &nbsp; {{project?.name}}</strong></p>
                </md-card-title>

              </md-card-header>

              <md-card-content>
                <p>
                  <img md-card-image  class="myImage"  src="{{project?.image}}" alt="Project Image" />
                </p>
                <p>{{project?.summary}}</p>
                <p class="percentage">{{project?.finical}}</p>
                <p class="percentage">{{project?.personal}}</p>
                <p class="percentage">{{project?.material}}</p>
                <p class="hashtag">{{project?.hashtag}}</p>
                <a href="#" [routerLink]="['/myProject',project?.id]">View Details</a>
              </md-card-content>

            </md-card>

        </div>
      </div>

    </md-card>

  </div>

    <div class="row"><br/><p></p></div>
    <div class="row"><br/><br/><div class="ui-grid-col-12"><app-footer></app-footer></div></div>
  </div>
</div>

