<div class="content">
  <div id="my_project" class="projectlist">
    <md-card>
      <h1>My Projects</h1>
      <md-card class="myCard {{project.type}}"  *ngFor="let project of projects|async ">
        <div class="my_project">
          <h2>{{(project | async)?.name}} </h2>
          <h3>Summary</h3>
          <p class="summary">{{(project | async)?.summary}}</p>
          <p class="percentage">{{(project | async)?.finical}}</p>
          <p class="percentage">{{(project | async)?.personal}}</p>
          <p class="percentage">{{(project | async)?.material}}</p>
          <p class="hashtag">{{(project | async)?.hashtag}}</p>
        </div>
      </md-card>
    </md-card>
  </div>
  <hr>

  <div id="joined_project" class="projectlist">
    <md-card>
      <h1>Joined Projects</h1>
      <md-card>
        <div class="joinedproject">
          <h2>{{(project | async)?.name}} </h2>
          <h3>Summary</h3>
          <p>{{(project | async)?.summary}}</p>
          <p class="percentage">{{(project | async)?.finical}}</p>
          <p class="percentage">{{(project | async)?.personal}}</p>
          <p class="percentage">{{(project | async)?.material}}</p>
          <p class="hashtag">{{(project | async)?.hashtag}}</p>
        </div>
      </md-card>
    </md-card>
  </div>
</div>

