<h1>About Us</h1>
<img src="../../images/studiopoplogo.PNG" alt="Studio Pop Logo"/>
<p>
  At <b>Studio Pop</b> we are developing a new practice-led research agenda titled <b>Remaking the City</b> based on the New Urban Agenda Habitat III,
  circular economy and social innovation, with three cornerstones: <b>Waste, Gaps and Water.</b>

  ​</p>
<p>
  Our research informs social teaching and vice versa. This strength lies in our ability to bridge the gaps between research and co-design throughout a pedagogy centred in the culture of sharing knowledge. This is a circular model based on <b> THINK, PLAY & MAKE </b> as catalyst for creative, participatory and playful learning by transforming the city a play-place or evolutionary learning environment that inspires creative community to experience themselves as transformative agents of the built environment. Our work is ruled by utopias, games, and experimentation to stimulate dialogues, research about social forms and experimental designs.
</p>
<img src="../../images/logo.png" alt="Clyde Electronics CIC Company logo" align="middle"/>
<p>
  Clyde Electronics is a new Social Enterprise Company whose aim is to act as a training, research & development centre and consultancy company in the area of Electronic Engineering and IT. Our remit is to  promote STEM subjects so we can develop the dynamic polymaths we need to rebuild our industry, develop new technologies and compete in the global market. Building upon the engineering heritage the city of  Glasgow and the Clyde is world  famous for.
</p>
<p>As well as providing consultancy services to businesses especially to the Public and Thirds sectors. We have years of expertise in the public sector via our founder Dave Ball who has worked on and help to successfully deliver many project for both the UK and Scottish Governments. Dave has been involved in delivering the UK on-line for Business program for the UK government as well as working on the modernizing government program for the Scottish Government.</p>
<app-footer></app-footer>
