<h1>ABOUT DOT TO DOT MARYHILL STATION</h1>

<p>DOT TO DOT Maryhill Station is a pioneering community consortium powered by Studio Pop C.I.C., Clyde Electronics C.I.C. and Dunard Primary School. It is situated in Glasgow Kelvin Constituency and Maryhill area, Glasgow. DOT TO DOT is a "citizen touchpoint" to connect experimenters and active citizens through ecological and participatory design. We deliver participatory local solutions that address local priorities and needs; increase active inclusion; and build on the assets of local communities to reduce poverty and to enable inclusive growth.
</p>

<p>DOT TO DOT is supported by the Scottish Government, Glasgow City Council, Stalled Spaces programme, Scottish Canals (SC), Firstport, Architecture Fringe Festival, Architecture + Design Scotland, IET Glasgow, and other local stakeholders. Partners are full members of EU COST Actions RESTORE & ENEC, SCDN, Social Firms Scotland, GSEN, STEM Scotland among other European and Scottish networks.
</p>
<h2>DOT TO DOT partnership and community consortium are:</h2>
<p>
<img src="../../images/studiopoplogo.PNG" alt="Studio Pop Logo"/><br>
Studio Pop C.I.C. [www.studiopop.net] is an interdisciplinary creative studio that makes green spaces in the city. Team is focused on research & development, education, social innovation, service design, urban reactivation, green architecture, remaking techniques, horticulture, and bespoken consultancy. They are founding partner and lead organisation of the DOT TO DOT Maryhill Station.
<br>
  <img src="../../images/logo.png" alt="Clyde Electronics CIC Company logo" align="middle" style="width: 20%"/><br/>
Clyde Electronics C.I.C. [www.clydeelectronics.co.uk] acts as ICT design, training and bespoken consultancy firm in the area of electronic engineering and ICT. They are founding partner.<br/>
<img src="../../images/DunardEco-School.jpg" width="20%"/><br/>
Dunard Primary School [http://www.dunard-pri.glasgow.sch.uk] seeks to foster in children a positive attitude to learning, citizenship and the environment. They are founding partner.
</p>


<p>Our community consortium obtained the Stalled Spaces Award and European Social Fund Aspiring Community Fund (phase 1) to test/pilot social innovation and citizen science solutions in an experimental site in Maryhill Road, Glasgow. Partners regenerate a vacant site through hands-on projects, remaking, artistry and pop-up architecture. The aim is to support children, young people and families who are facing challenging circumstances tackling isolation and promoting social inclusion, with a particular focus on children, young people, people with disabilities, and under-represented groups including immigrants.
</p>
<p>Our social business is aligned with the socio-economic sectors prioritised by Scotland’s Economic Strategy that connects Creative Industries, Environment and ITC (social technologies). We co-develop restorative/regenerative civic actions, build multicultural synergies and share creative learning capacities in ecological design, waste reuse and outdoor learning.
</p>
<p>DOT TO DOT Maryhill Station is an experimental civic project. It connects eco-design, waste reuse and societal challenges throughout a network of remarkers and active citizens in Glasgow city.
</p>
<p>DOT TO DOT partners work with local fragile communities to improve the perception of citizens as active place-makers in the areas of Art, Waste, Design, Education, Science and Health through co-creation and circular economy. Our consortium connects eco-schools, social enterprises, immigrants, low-income young families, young graduates, professionals, university students, children, community gardens, municipality and local stakeholders to jointly create live projects and remake a derelict gap site into vibrant community place.
</p>
<p>Currently DOT TO DOT community is leading multiple activities involving participatory design charrettes, social media interaction, hand-on volunteering work and creative entrepreneurship aligned with the socio-economic sectors prioritised by Scotland’s Economic Strategy that connects Creative Industries, Environment and ITC.
</p>
<p>DOT TO DOT community <br/>
Maryhill Station
</p>


