.sebm-google-map-container {
  height: 660px;
  zoom: 1;
  margin: 10px;
  position: relative;



}

.example-card {
  width: 200px;
  background-color: #000000;
  color:white;
}

.example-header-image {
  background-image: url('../../images/tesco.jpg');
  background-size: cover;
}


.dot-to-dot{
  icon: url("../../images/dot-to-dot-marker.png");
  color:yellow;
  background-color: aqua;
}

.google-map-overlay {
  width  : 500px;
  height : 380px;
  background: white;
  position: absolute;
  opacity: 0.5;/*add this*/
  top: 0px;
  left: 0px;
  z-index: 99;
}
