

.sebm-google-map-container {
  height: 670px;
  width:100%;
  zoom: 1;
  margin: 0px;
  position: relative;



}

.example-card {
  width: 200px;
  background-color: #000000;
  color:white;
}

.example-header-image {
  background-image: url('../../images/tesco.jpg');
  background-size: cover;
}


.dot-to-dot{
  icon: url("../../images/dot-to-dot-marker.png");
  color:yellow;
  background-color: aqua;
}

.google-map-overlay {
  width  : 500px;
  height : 380px;
  background: white;
  position: absolute;
  opacity: 0.5;/*add this*/
  top: 0;
  left: 0;
  z-index: 99;
}

.education {
  background:  rgb(49,172,255);

}

.science {

  background: rgb(255,13,218);


}

.artAndDesign {

  background:  rgb(255,238,15) ;


}
.health {

  background: rgb(166,252,5);


}

.craftAndWorkshop {

  background: rgb(237,45,40);


}

.myImage{
  width: 190px;

  margin-right: 0px;
  margin-left: 0px;
}
.myCard{
  width: 200px;
  font-size: small;
  margin: auto;
  padding: 2% ;
  display: inline-block;


  vertical-align: top;
}

