<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map:
<script>

  const mapStyle = [
    {
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#ebe3cd"
        }
      ]
    },
    {
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#523735"
        }
      ]
    },
    {
      "elementType": "labels.text.stroke",
      "stylers": [
        {
          "color": "#f5f1e6"
        }
      ]
    },
    {
      "featureType": "administrative",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#c9b2a6"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#dcd2be"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#ae9e90"
        }
      ]
    },
    {
      "featureType": "landscape.natural",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#93817c"
        }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#a5b076"
        }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#447530"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#f5f1e6"
        }
      ]
    },
    {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#fdfcf8"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#f8c967"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#e9bc62"
        }
      ]
    },
    {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#e98d58"
        }
      ]
    },
    {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#db8555"
        }
      ]
    },
    {
      "featureType": "road.local",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#806b63"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#8f7d77"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "labels.text.stroke",
      "stylers": [
        {
          "color": "#ebe3cd"
        }
      ]
    },
    {
      "featureType": "transit.station",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#b9d3c2"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#92998d"
        }
      ]
    }
  ];

</script>  -->


<div class="ui-g">
<!--
  <div col-sm-12><h1 align="center ">Welcome to Dot to Dot {{this.afService.displayName}} </h1></div>

  <div class="col-sm-3 mypadding">
    <h2>Messages for <a href="# " [routerLink]="['/projects',messagething.id]">{{messagething.name}}</a></h2>
    <div #scrollMe class="bs-example" id="messages">
      <div *ngFor="let message of messages | async">
        <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
          <p>{{ message.message }}</p>
          <div class="author">
            {{ message.displayName }}
          </div>
          <div class="author"> {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
          </div>
        </div>
      </div>

    </div>

    <figure class="highlight">
      <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <a class="send-message" (click)="sendMessage()">SEND</a>
    </figure>
  </div>
<!--
  <div class="col-sm-2">
    <div class="container mypadding">
      <h2>Project Alerts</h2>
      <div class="messgageContent">
        <div class="science">
          <img src="../../images/science.png" alt="avatar" class="avatar swag">
          <h2>Come to our event on the 22nd?</h2>
        </div>
        <div class="health">
          <img src="../../images/health.png" alt="avatar" class="avatar swag">
          <h2>We're demonstrating  how to cook using only purple  vegetables </h2>
        </div>
        <div class="education">
          <img src="../../images/education.png" alt="avatar" class="avatar swag">
          <h2>Learn how to  make a  website on the 25th</h2>
        </div>
        <div class="artAndDesign">
          <img src="../../images/art.png" alt="avatar" class="avatar swag">
          <h2>Learn how to do technical drawing 28th</h2>
        </div>

        <div class="craftAndWorkshop">
          <img src="../../images/craft.png" alt="avatar" class="avatar swag">
          <h2>Learn how use the 3d Printer 30th </h2>
        </div>
        <div class="health">
          <img src="../../images/health.png" alt="avatar" class="avatar swag">
          <h2>Join us  for  a nature  walk along the  canal 28th </h2>
        </div>

      </div>

    </div>

    -->





  </div>
<!--
<div class="panel">
  <button (click)="showPrevious = !showPrevious">{{showPrevious ? 'hide Previous Use' : 'show Previous Use'}}</button>
  <button (click)="showWaste = !showWaste">{{showWaste ? 'hide Materials Network' : 'show Materials Network'}}</button>
  <button (click)="showFood = !showFood">{{showFood ? 'hide Food Network' : 'show Food Network'}}</button>
  <button (click)="showEvent = !showEvent">{{showEvent ? 'hide Events' : 'show Events'}} </button>
  <button (click)="showSites = !showSites">{{showSites ? 'hide Sites' : 'show Sites'}}</button>
  <button (click)="filterSci = !filterSci">{{filterSci ? 'hide Sci' : 'show Sci'}}</button>
  <button (click)="filterCraft = !filterCraft">{{filterCraft ? 'hide Craft' : 'show Craft'}}</button>
  <button (click)="filterArt = !filterArt">{{filterArt ? 'hide Art' : 'show Art'}}</button>
  <button (click)="filterHealth = !filterHealth">{{filterHealth ? 'hide Health' : 'show Health'}}</button>
  <button (click)="filterEdu = !filterEdu">{{filterEdu ? 'hide Education' : 'show Education'}}</button>
</div> --->
  <div class ="sebm-google-map-container"   >


   <agm-map  [latitude]="startLat" [longitude]="startLng" [styles]="style"  [zoom]="zoom" [mapTypeControl]="true" options="map.options" >
     <!-- 'http://jbdemonte.github.io/angular-google-maps-native/assets/rungis-desc.kml'
     <agm-kml-layer [url]="'http://jbdemonte.github.io/angular-google-maps-native/assets/rungis-desc.kml'" [zIndex]="6"></agm-kml-layer>
     <agm-kml-layer [url]="'https://clydeelectronics.co.uk/kmlfiles/dvsites.kml'" [zIndex]="2"  ></agm-kml-layer>-->
     <agm-kml-layer  *ngIf="previousFlag" [url]="'https://clydeelectronics.co.uk/kmlfiles/previoususe.kml'" [zIndex]="3" ></agm-kml-layer>
     <agm-kml-layer  *ngIf="supplierFlag"  [url]="'https://clydeelectronics.co.uk/kmlfiles/materialsnetwork.kml'" [zIndex]="4"></agm-kml-layer>
     <agm-kml-layer  *ngIf="foodFlag"  [url]="'https://clydeelectronics.co.uk/kmlfiles/food.kml'" [zIndex]="5"></agm-kml-layer>
     <agm-kml-layer  *ngIf="eventsFlag" [url]="'https://clydeelectronics.co.uk/kmlfiles/event.kml'" [zIndex]="6"></agm-kml-layer>
     <agm-kml-layer *ngIf="sitesFlag"  [url]="'https://clydeelectronics.co.uk/kmlfiles/dvsites.kml'" [zIndex]="7"></agm-kml-layer>
     <!--<agm-map-directions  [origin]="origin" [destination]="destination" #test></agm-map-directions>-->
     <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'../../images/dot-to-dot-marker.png'"  [title]="label"></agm-marker>


     /// 55.8954916, -4.3114119
     <!--<agm-marker [latitude]="55.8954916" [longitude]="-4.3114119" [iconUrl]="'../../images/waste.png'"  [title]="Dawsholm">
       <agm-info-window>
         <md-card class="example-card" >
           <md-card-header>
             <div md-card-avatar class=""></div>
             <md-card-title>Dawsholm Recycling Centre</md-card-title>
             <md-card-subtitle>Contact the manager</md-card-subtitle>
           </md-card-header>
           <img md-card-image src="../../images/e_waste_rc.jpg">
           <md-card-content>
             <p><u>Supplies</u></p>
             <p>e-Waste</p>
           </md-card-content>

         </md-card>
       </agm-info-window>

     </agm-marker>
     //55.8337278, -4.2460441
     <agm-marker [latitude]="55.8337278" [longitude]="-4.2460441" [iconUrl]="'../../images/waste.png'"  [title]="Polmadie">
       <agm-info-window>

         <md-card class="example-card">
           <md-card-header>
             <div md-card-avatar class=""></div>
             <md-card-title>Polmadie  Recycling Centre</md-card-title>
             <md-card-subtitle>Contact the manager</md-card-subtitle>
           </md-card-header>
           <img md-card-image src="../../images/e_waste_rc.jpg">
           <md-card-content>
             <p><u>Supplies</u></p>
             <p>e-Waste</p>
           </md-card-content>
          </md-card>
       </agm-info-window>
     </agm-marker>
     //55.887076, -4.2863025


     <agm-marker [latitude]="55.887076" [longitude]="-4.2863025" [iconUrl]="'../../images/waste.png'"  [title]="Tesco">
       <agm-info-window>
         <md-card class="example-card">
           <md-card-header>
             <div md-card-avatar class="example-header-image"></div>
             <md-card-title>Tesco</md-card-title>
             <md-card-subtitle>Contact the manager</md-card-subtitle>
           </md-card-header>
           <img md-card-image src="../../images/bags.jpg">
           <md-card-content>
             <p>
               Used plastic  bags
             </p>
           </md-card-content>
          </md-card>
       </agm-info-window>
     </agm-marker>
     //55.8761694, -4.2714038
     <agm-marker [latitude]="55.8761694" [longitude]="-4.2714038" [iconUrl]="'../../images/waste.png'"  [title]='Tesco'>
       <agm-info-window>
         <md-card class="example-card">
           <md-card-header>
             <div md-card-avatar class="example-header-image"></div>
             <md-card-title>Tesco</md-card-title>
             <md-card-subtitle>Contact the manager</md-card-subtitle>
           </md-card-header>
           <img md-card-image src="../../images/bags.jpg">
           <md-card-content>
             <p>
              Used plastic  bags
             </p>
           </md-card-content>
          </md-card>
        </agm-info-window>
     </agm-marker>
--->
     <agm-polyline  [title]="'DOT-to-DOT site'">

        <agm-polyline-point [latitude]="55.880921" [longitude]="-4.274801"> </agm-polyline-point>
        <agm-polyline-point [latitude]="55.880849" [longitude]="-4.27493"> </agm-polyline-point>
        <agm-polyline-point [latitude]="55.880736" [longitude]="-4.274394"> </agm-polyline-point>
        <agm-polyline-point [latitude]="55.880958" [longitude]="-4.274254"> </agm-polyline-point>
        <agm-polyline-point [latitude]="55.880921" [longitude]="-4.274801"> </agm-polyline-point>
      </agm-polyline>


      <div    *ngIf="sciFlag" >
      <agm-marker

        *ngFor="let m of markers | async |search:'science'"

        (markerClick)="test(m)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [iconUrl]="m.icon"

      >
        <agm-info-window>
          <md-card class="myCard {{m.type}}" >
            <md-card-header >
              <div md-card-avatar ><img  src="{{m.icon}}" /></div>

              <md-card-title href="#" [routerLink]="['/projects',m.id]">
                <p><strong>{{m.name}}</strong></p>
              </md-card-title>
            </md-card-header>

            <img md-card-image  class="myImage"  src="{{m.image}}" alt="Project Image" />
            <md-card-content>


              <p><u>Summary</u></p>
              <p>{{m.summary}}</p>
            </md-card-content>
          </md-card>
        </agm-info-window>
      </agm-marker>
      </div>
     <div    *ngIf="craftFlag" >
       <agm-marker

         *ngFor="let m of markers | async |search:'craft'"

         (markerClick)="test(m)"
         [latitude]="m.lat"
         [longitude]="m.lng"
         [iconUrl]="m.icon"

       >
         <agm-info-window>
           <md-card class="myCard {{m.type}}" >
             <md-card-header>
               <div md-card-avatar ><img  src="{{m.icon}}" /></div>

               <md-card-title href="#" [routerLink]="['/projects',m.id]">
                 <p><strong>{{m.name}}</strong></p>
               </md-card-title>
             </md-card-header>

             <img md-card-image  class="myImage"  src="{{m.image}}" alt="Project Image" />
             <md-card-content>


               <p><u>Summary</u></p>
               <p>{{m.summary}}</p>
             </md-card-content>
           </md-card>
         </agm-info-window>
       </agm-marker>s
     </div>

     <div    *ngIf="artFlag" >
       <agm-marker

         *ngFor="let m of markers | async |search:'artAndDesign'"

         (markerClick)="test(m)"
         [latitude]="m.lat"
         [longitude]="m.lng"
         [iconUrl]="m.icon"

       >
         <agm-info-window>
           <md-card class="myCard {{m.type}}" >
             <md-card-header>
               <div md-card-avatar ><img  src="{{m.icon}}" /></div>

               <md-card-title href="#" [routerLink]="['/projects',m.id]">
                 <p><strong>{{m.name}}</strong></p>
               </md-card-title>
             </md-card-header>

             <img md-card-image  class="myImage"  src="{{m.image}}" alt="Project Image" />


             <md-card-content>


               <p><u>Summary</u></p>
               <p>{{m.summary}}</p>
             </md-card-content>
           </md-card>
         </agm-info-window>
       </agm-marker>
     </div>


     <div    *ngIf="healthFlag" >
       <agm-marker

         *ngFor="let m of markers | async |search:'health'"

         (markerClick)="test(m)"
         [latitude]="m.lat"
         [longitude]="m.lng"
         [iconUrl]="m.icon"

       >
         <agm-info-window>
           <md-card class="myCard {{m.type}}" >
             <md-card-header>
               <div md-card-avatar ><img  src="{{m.icon}}" /></div>

               <md-card-title href="#" [routerLink]="['/projects',m.id]">
                 <p><strong>{{m.name}}</strong></p>

               </md-card-title>
             </md-card-header>

             <img md-card-image  class="myImage"  src="{{m.image}}" alt="Project Image" />
             <md-card-content>




               <p><u>Summary</u></p>
               <p>{{m.summary}}
                <p  [routerLink]="['/projects',m.id]"><a>More Details</a></p>
             </md-card-content>
           </md-card>
         </agm-info-window>
       </agm-marker>
     </div>

     <div    *ngIf="eduFlag" >
       <agm-marker

         *ngFor="let m of markers | async |search:'education'"

         (markerClick)="test(m)"
         [latitude]="m.lat"
         [longitude]="m.lng"
         [iconUrl]="m.icon"

       >
         <agm-info-window>
           <md-card class="myCard {{m.type}}" >
             <md-card-header>
               <div md-card-avatar ><img  src="{{m.icon}}" /></div>

               <md-card-title href="#" [routerLink]="['/projects',m.id]">
                 <p><strong>{{m.name}}</strong></p>

               </md-card-title>
             </md-card-header>

             <img md-card-image  class="myImage"  src="{{m.image}}" alt="Project Image" />
             <md-card-content>


               <p><u>Summary</u></p>
               <p>{{m.summary}}</p>
             </md-card-content>
           </md-card>
         </agm-info-window>
       </agm-marker>
     </div>

   </agm-map>
  </div>

<div *ngIf="enableProfiles === true">
<div *ngFor=" let p of profiles;">

  <div>
    <p class="member">{{p.name}}</p>
    <p *ngFor="let j of p.hobbies" class="{{j.name}}"></p>
    <a href="#" [routerLink]="['/userProfile',p.name]">profile</a>
  </div>
</div>
</div>
<!--

  <div class="col-sm-2 " >
          <h2>Filter Projects</h2>
          <div class="toggles ">
            <div>
            <h3>Art and Design</h3>
            </div>
            <div class="toggle-border">
              <input type="checkbox" id="one" checked/>
              <label for="one">
                <div class="artHandle"></div>
              </label>
            </div>
            <div>
                <h3>Craft and Workshops</h3>
            </div>
            <div class="toggle-border">
              <input type="checkbox" id="two" checked />
              <label for="two">
                <div class="craftHandle"></div>
              </label>
            </div>
            <div>
            <h3> Education</h3>
            </div>
            <div class="toggle-border">
              <input type="checkbox" id="three" checked />
              <label for="three">
                <div class="eduHandle"></div>
              </label>

            </div>
             <div><h3> Health</h3>
            </div>
            <div class="toggle-border">
              <input type="checkbox" id="four" checked />
              <label for="four">
                <div class="healthHandle"></div>
              </label>
            </div>

            <div>
              <h3>Science</h3>
            </div>
            <div class="toggle-border">
              <input type="checkbox" id="five" checked />
              <label for="five">
                <div class="scienceHandle"></div>
              </label>
            </div>

          </div>

              <h3>Project Members</h3>

            <div *ngFor=" let p of profiles;">

                <div>
                  <p class="member">{{p.name}}</p>
                  <p *ngFor="let j of p.hobbies" class="{{j.name}}"></p>
                  <a href="#" [routerLink]="['/userProfile',p.name]">profile</a>
                </div>

            </div>

  </div>




</div>

-->
