<div class="col-sm-8">
  <md-card class ="myCard {{(project|async)?.type}}">
    <md-card-title >
      <p><img class="card-avatar" src="{{(project|async)?.icon}}" /><strong>&nbsp; &nbsp; {{(project|async)?.name}}</strong></p>
    </md-card-title>
    <md-card-content>
      <p>
        <img md-card-image  class="myImage"  src="{{(project|async)?.image}}" alt="Project Image" />
      </p>


    <h2 align="center">Summary</h2>
    <p align="center">{{(project | async)?.summary}}</p>
      <h2 align="center">Further Details</h2>
      <p align="center">{{(project | async)?.description}}</p>

      <h2>news and events</h2>

      <div *ngFor=" let n of notifications|async">
        <p align="center" >{{n.title}}</p>
        <p>{{n.message}}</p>
        <p>{{n.timestamp}}</p>
      </div>

      <p>https://dev.dots.scot/projects/{{(project|async)?.id}}</p>

      <div align="right">
        <h2>donations</h2>
        <div *ngFor=" let i = 'index'; let donation of itemsWanted | async">
          <p>{{donation.name}}</p>
          <p>total: {{donation.currentAmount}}/{{donation.amountRequired}}</p>
        </div>
      </div>

      <fb-share href ="https://dev.dots.scot/#/projects/{{(project|async)?.id}}"  layout="button" size="large" ></fb-share>
      <div *ngIf="joined === false"><button class="md-raised md-primary" (click)="join()">Join project</button> </div>

    </md-card-content>
  </md-card>
</div>


<!-- <div *ngIf="userID==(project|async)?.owner">
<form (submit)="postUpdate($event, title.value, datePosted.value, message.value, type.value)" class="form-signin">
  <div class = "form-group">
    <label for="title" class="sr-only">Title</label>
    <input #title type="text" id="title" class="form-control" placeholder="Name" required="">
  </div>

  <div class = "form-group">
    <label class="sr-only">Message</label>
    <textarea
      #projectDescription
      rows = "5"
      cols = "80"
      class="form-control"
      placeholder="Profile Description"
    ></textarea>
  </div>

  <div class = "form-group">
  <label class="sr-only">Message</label>
  update <input type="radio" >  event <input type="radio" >
  </div>
  <button  class="btn btn-md btn-primary btn-block" type="submit">update</button>

</form>
</div>-->
<div class="col-sm-4">
<div class = "myCard" md-cols="4">
  <h2>Messages for {{(project| async).name}}</h2>
  <!-- <h2>Messages for <a href="#" [routerLink]="['/projects',messagething.id]">{{messagething.name}}</a></h2>-->
  <div  class="bs-example" id="messages">
    <div *ngFor="let message of messages | async">
      <div class="bubble {{(project| async).projectType}}" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)" >
        <div *ngIf="message.avatar!==undefined ;then content else other_content">here is ignored</div>
        <ng-template #content><img src= "{{message.avatar}}" class="avatar"/></ng-template>
        <ng-template #other_content><img src= "../../images/avatar.png" class="avatar"/></ng-template>
        <p>{{ message.message }}</p>
        <div class="author">
          {{ message.displayName }}
        </div>
        <div class="author"> {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}

        </div>
      </div>
    </div>
  </div>

  <figure class="highlight" >
    <label>
      <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" (return)="sendMessage()">
    </label>
    <a class="send-message" (click)="sendMessage()">SEND</a>
  </figure>

</div>
</div>

