<div id="supply-request">

<h1 align="center" >{{(project | async)?.name}}</h1>


<h2 align="center">Description</h2>
<p align="center">{{(project | async)?.description}}</p>

<h2 align="center">Summary</h2>
<p align="center">{{(project | async)?.summary}}</p>
<span id="supply-button">
<button (click)="approve() " align="center" style="margin: auto;">approve</button>
<button (click)="decline() " align="center" style="margin: auto;">reject</button>
<button (click)="test() " align="center" style="margin: auto;">test</button>
</span>
</div>
