<md-card>
<h1> please set up your account</h1>
<form (submit)="register($event, pDescription.value, pSummary.value)"class="form-signin">

  <label >About Yourself</label>
          <textarea
            #pDescription
            type="text"
            class="form-control"
            rows = "5"
            cols = "80"></textarea>

  <label > Summarize Yourself</label>
          <textarea
            #pSummary
            type="text"
            class="form-control"
            rows = "3"
            cols = "80"></textarea>


  <div class="form-group">
    <label>Interests </label>
    <div *ngFor="let option of options">
      <label>
        <input type="checkbox"
               name="options"
               value="{{option.value}}"
               [(ngModel)]="option.checked"/>
        {{option.name}}
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-md btn-primary btn-block">Register</button>
</form>
</md-card>
