<md-card>
<h1> Add information to your profile</h1>
<form (submit)="register($event, description.value, pSummary.value)" class="form-signin">

  <label >Biography</label>
  <label for="#description">
<textarea
  id="#description"
  type="text"
  class="form-control"
  rows="3"
  cols="80" maxlength="240"></textarea>
  </label>


  <label for="#pSummary">Summary</label><textarea
            id="#pSummary"
            type="text"
            class="form-control"
            rows = "3"
            cols = "80"></textarea>


  <div class="form-group">
    <label>Interests </label>
    <div *ngFor="let option of options">
      <label>
        <input type="checkbox"
               name="options"
               value="{{option.value}}"
               [(ngModel)]="option.checked"/>
        {{option.name}}
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-md btn-primary btn-block">Register</button>
</form>
</md-card>
