
<h2>Useful Links</h2>

<ul>
    <li>
      OrganiCity <a href="http://organicity.eu">http://organicity.eu</a>
    </li>

    <li>
      Open Glasgow <a href="http://open.glasgow.gov.uk">http://open.glasgow.gov.uk</a>
    </li>
    <li>

      Future City Glasgow <a href="http://futurecity.glasgow.gov.uk">http://futurecity.glasgow.gov.uk</a>
    </li>
    <li>

      Litterati <a href="https://www.litterati.org<">https://www.litterati.org</a>
    </li>

    <li>
      Zero Waste Scotland <a href="http://www.zerowastescotland.org.uk"> http://www.zerowastescotland.org.uk</a>
    </li>

    <li>
      Zero Waste Scotland Tool kit and materials
      <a href=" http://www.zerowastescotland.org.uk/litter-flytipping/targeted-messaging-toolkit">
      http://www.zerowastescotland.org.uk/litter-flytipping/targeted-messaging-toolkit
      </a>
    </li>
    <li>
      Use citizen science in litter prevention
      <a href="  http://www.zerowastescotland.org.uk/litter-flytipping/citizen-science">
      http://www.zerowastescotland.org.uk/litter-flytipping/citizen-science
      </a>
    </li>
    <li>
      Recycle on the Go Glasgow   <a href="http://www.zerowastescotland.org.uk/sites/default/files/RoTG%20Guidance_0.pdf">http://www.zerowastescotland.org.uk/sites/default/files/RoTG%20Guidance_0.pdf
      </a>
    </li>
    <li>
      Recycling Scotland <a href="http://www.recycleforscotland">http://www.recycleforscotland.</a>
    </li>

    <li>
      Glasgow Waste Strategy <a href="https://www.glasgow.gov.uk/index.aspx?articleid=16572">https://www.glasgow.gov.uk/index.aspx?articleid=16572</a>
    </li>

    <li>
      The Environmental Task Force (ETF) <a href="https://www.glasgow.gov.uk/index.aspx?articleid=17179"> https://www.glasgow.gov.uk/index.aspx?articleid=17179</a>
    </li>

    <li>
      Bin and Recycling Glasgow <a href="https://www.glasgow.gov.uk/index.aspx?articleid=15893"> https://www.glasgow.gov.uk/index.aspx?articleid=15893</a>
    </li>

    <li>
      The “Blue Bin” Glasgow <a href="https://www.glasgow.gov.uk/index.aspx?articleid=16561">https://www.glasgow.gov.uk/index.aspx?articleid=16561</a>
    </li>

    <li>
      Future Maps Report <a href="http://futurecity.glasgow.gov.uk/pdfs/FUTURE%20MAPS%20FINAL%20REPORT.pdf">http://futurecity.glasgow.gov.uk/pdfs/FUTURE%20MAPS%20FINAL%20REPORT.pdf</a>
    </li>

    <li>
      Citizen Engagement <a href="http://futurecity.glasgow.gov.uk/citizen-engagement/"> http://futurecity.glasgow.gov.uk/citizen-engagement/</a>
    </li>

    <li>
      Citizen Engagement Report
      <a href=" http://futurecity.glasgow.gov.uk/pdfs/Gcc_Ideas%20Report_Snook.pdf">
      http://futurecity.glasgow.gov.uk/pdfs/Gcc_Ideas%20Report_Snook.pdf
      </a>
    </li>
    <li>
      <a href="http://futurecity.glasgow.gov.uk/community-mapping/"> Community Mapping</a>
    </li>
    <li>
      Open maps <a href="http://map.glasgow.gov.uk">http://map.glasgow.gov.uk</a>
    </li>
    <li>


      Stalled Spaces <a href="http://map.glasgow.gov.uk/?map=stalled-spaces">http://map.glasgow.gov.uk/?map=stalled-spaces</a>
    </li>
    <li>
      Cleansing Waste Strategy and Action Plan 2015 to 2020 <a href="https://www.glasgow.gov.uk/CHttpHandler.ashx?id=31837&p=0">https://www.glasgow.gov.uk/CHttpHandler.ashx?id=31837&p=0</a>
    </li>
    <li>


      My Glasgow App <a href="http://futurecity.glasgow.gov.uk/my-glasgow/">http://futurecity.glasgow.gov.uk/my-glasgow/</a>

      <a href=" https://itunes.apple.com/gb/app/glasgow-city-council/id539391208?mt=8">https://itunes.apple.com/gb/app/glasgow-city-council/id539391208?mt=8</a>
    </li>

    <li>
      Linked Data <a href="http://open.glasgow.gov.uk/linked-data-glasgow/">http://open.glasgow.gov.uk/linked-data-glasgow/</a>
    </li>

    <li>
      City dashboard <a href="http://dashboard.glasgow.gov.uk https://youraccount.glasgow.gov.uk/publicaccesslive/selfservice/dashboard.htm">http://dashboard.glasgow.gov.uk https://youraccount.glasgow.gov.uk/publicaccesslive/selfservice/dashboard.htm</a>
    </li>
</ul>
