<div class="ui-grid">

      <md-tab-group>
        <md-tab label="Latest Projects">
        <div>
          <md-card class="myCard">

            <img md-card-image src="../../images/2.png" alt="Project Image" />
            <md-card-title>
            </md-card-title>
            <md-card-content>

            </md-card-content>
            <!--  <p-chart type="Doughnut" [data]="data"></p-chart>
                          <md-card-actions>Donate</md-card-actions> -->
          </md-card>
          <md-card class="myCard">

            <img md-card-image src="../../images/2.png" alt="Project Image" />
            <md-card-title>
            </md-card-title>
            <md-card-content>

            </md-card-content>
            <!--  <p-chart type="Doughnut" [data]="data"></p-chart>
                          <md-card-actions>Donate</md-card-actions> -->
          </md-card>
          <md-card class="myCard">

            <img md-card-image src="../../images/3.png" alt="Project Image" />
            <md-card-title>
            </md-card-title>
            <md-card-content>

            </md-card-content>
            <!--  <p-chart type="Doughnut" [data]="data"></p-chart>
                          <md-card-actions>Donate</md-card-actions> -->
          </md-card>
          <md-card class="myCard">

            <img md-card-image src="../../images/4.png" alt="Project Image" />
            <md-card-title>
            </md-card-title>
            <md-card-content>

            </md-card-content>
            <!--  <p-chart type="Doughnut" [data]="data"></p-chart>
                          <md-card-actions>Donate</md-card-actions> -->
          </md-card>
        </div>
          <md-paginator (page)="1">
          </md-paginator>
          <!--
               <md-paginator>
          <div *ngIf ="pageEvent">
          <md-card class="myCard">

            <img md-card-image src="../../images/1.png" alt="Project Image" />
             <md-card-title>
             </md-card-title>
            <md-card-content>

            </md-card-content>
          <!--  <p-chart type="Doughnut" [data]="data"></p-chart>
                        <md-card-actions>Donate</md-card-actions>
          </md-card>

          <md-card class="myCard">
            <img md-card-image src="../../images/2.png" alt="Project Image" />

          </md-card>

          <md-card class="myCard">
            <img md-card-image src="../../images/3.png" alt="Project Image" />

          </md-card>

          <md-card class="myCard">
            <img md-card-image src="../../images/4.png" alt="Project Image" />

          </md-card>
          </div>

        </md-paginator>
       -->
        </md-tab>
        <md-tab label="Live Projects">
          <md-paginator>
            <md-card class="myCard">
              <img md-card-image src="../../images/5.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/3.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/4.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/1.png" alt="Project Image" />

            </md-card>
          </md-paginator>
        </md-tab>
        <md-tab label="Archived Projects">
          <md-paginator>
            <md-card class="myCard">
              <img md-card-image src="../../images/5.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/1.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/3.png" alt="Project Image" />

            </md-card>

            <md-card class="myCard">
              <img md-card-image src="../../images/2.png" alt="Project Image" />

            </md-card>
          </md-paginator>
        </md-tab>
      </md-tab-group>

</div>
