@import '../notifications/notifications.component.scss';

.myCard{
  width: 18%;
  font-size: small;
  padding: 2% ;
  display: inline-block;
  margin: 10px 5px auto;
  min-height: 500px;
  max-height: 500px;
  vertical-align: top;


}

.myCardList{
  margin-top: 0;
  display: block;
}

