@import '../notifications/notifications.component.scss';

.myCard{
  width: 18%;
  font-size: small;
  padding: 2% ;
  display: inline-block;
  margin: 10px 5px auto;
  min-height: 500px;
  max-height: 500px;
  vertical-align: top;


}
.projectImage{
  height: 150px;
}

.myCardList{
  margin-top: 0;
  display: block;
}

@media screen and (max-width: 1024px) {
  .myCard {
    width:30%;

    font-size: small;
    padding: 2% ;
    display: inline-block;
    margin: 10px 1.5% auto;
    min-height: 500px;
    max-height: 500px;
    vertical-align: top;
  }
  .myCard img {
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
  }
}
@media screen and (max-width: 767px) {
  .myCard {
    width:80%;

    font-size: medium;
    padding: 2% ;
    display: inline-block;
    margin: 10px auto auto;
    min-height: 500px;
    max-height: 500px;
    vertical-align: top;
  }
  .myCard img {
width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


