@import '../notifications/notifications.component.scss';

.myCard{
  width: 18%;
  font-size: small;
  margin: auto;
  padding: 2% ;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  min-height: 500px;
  max-height: 500px;
  vertical-align: top;


}

.myCardList{
  margin-top: 0%;
  display: block;
}

