<h1>Partners</h1>
<p>


  <img src="../../images/partners/6d4be8_003ef78931c148a998739cefb4ff808a_mv2.png" height="75" width="180"/> &nbsp;&nbsp;&nbsp;
  <a href="https://peoplemakeglasgow.com/">People Make Glasgow Enterprising</a>
<br/>
  <br/>
  <img src="../../images/partners/6d4be8_d7901421dada47d99536d3067483105b_mv2_d_1667_2500_s_2.png" height="111"
       width="75"/> &nbsp;&nbsp;&nbsp;<a href="https://www.visitscotland.com/about/themed-years/innovation-architecture-design/">Year of Design Architecture and Innovation 2016</a>  <br/><br/>
  <img src="../../images/partners/6d4be8_a9f4166174044375a002e2d29b71955d_mv2.png" height="68" width="266"/> &nbsp;&nbsp;&nbsp;<a href="https://socialfirms.org.uk/">Social  Firms Scotland</a><br/><br/>
  <img src="../../images/partners/6d4be8_04403e2cad5e42fbbdf129f8028b22c1_mv2.png" height="75" width="265"/> &nbsp;&nbsp;&nbsp;Social Inovation Competition supported by <a href="http://www.firstport.org.uk/">FirstPort</a><br/><br/>
  <img src="../../images/partners/6d4be8_616bbeac89a64000b96f44ae53dbccab_mv2.png" height="66" width="246"/> &nbsp;&nbsp;&nbsp;<a href="http://www.scdn.scot/">Scottish  Community Development Network</a><br/><br/>
  <img src="../../images/partners/StallSpaces.png" height="94" width="195"/> &nbsp;&nbsp;&nbsp;<a href="https://www.glasgow.gov.uk/stalledspaces">Stalled Spaces</a><br/><br/>
  <img src="../../images/partners/6d4be8_6e49aeeeb1b34586b2bbf22ba386d54d_mv2.png" height="91" width="313"/> &nbsp;&nbsp;&nbsp;<a href="https://www.erasmus-enterpreneurs.com">Erasumus for young Entrepreneurs</a><br/><br/>
  <img src="../../images/partners/6d4be8_4a04f02fb2384511b04b8f6e21e8b685_mv2.png" height="54" width="191"/> &nbsp;&nbsp;&nbsp;<a href="http://www.cost.eu/">Cost European Cooperation in Science and Technology</a> <br/></p>
<app-footer></app-footer>
