<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="modal-dialog"  >
  <div class="loginmodal-container" >
    <h1>Add a new recycle supplier</h1>

    <form (submit)="createSupplier($event, supplierName.value, address.value, address2.value, supplierDescription.value, supplierSummary.value, location.value )">
      <h3>Upload Recycling Image</h3>
      <div *ngIf="currentFileUpload" class="progress" style="width:400px">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>

      <md-input-container class="example-full-width">
        <input   #supplierName mdInput id="supplierName" placeholder="Name or Company"  >
      </md-input-container>

      <md-input-container class="example-full-width">
        <input #address mdInput id="address" placeholder="Address">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input #address2 mdInput id="address2" placeholder="Address 2">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input #location mdInput id ="location" maxlength="7" placeholder="Postal Code" >
        <!---<md-hint align="end">enter your postcode</md-hint>--->
      </md-input-container>

      <md-input-container class="example-full-width">
           <textarea
             #supplierDescription
             mdInput
             rows = "5"
             cols = "80"
             placeholder="Supplier Description"
             id="supplierDescription"
           >
           </textarea>
      </md-input-container>

      <md-input-container class="example-full-width">
           <textarea
             #supplierSummary
             mdInput
             rows = "3"
             cols = "80"
             placeholder="Summary"
             id="supplierSummary"
           >
           </textarea>
      </md-input-container>

      <button  class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
    </form>

  </div>
</div>
<app-footer></app-footer>
