

<img src="../../images/dots.gif" alt="Dot to Dot image showing project dots on an arial photograph of glasgow" align="middle"/>
<br/>
<br/>
<h2>PROJECT DESCRIPTION</h2>
<br/>
<br/>
<p>Our habitats are being urbanised, refurnished and restructured and, in this process, our cultural landscape is being radically altered. The city is our open lab. Its demand innovative ways of thinking, playing and remaking waste as social value with new designs for our society. The DOT TO DOT© is a social technology created by Studio Pop’s founding directors. Last year we obtained the “Year of Innovation Architecture and Design - Young Social Innovation Award” (2016), ENCOSI ERASMUS+ “Young Entrepreneurs Award” (2016-17), and recently the “Stalled Spaces Glasgow Award 2017”, among other prizes, to co-develop our social technology.
</p>
​
<p>
DOT TO DOT© works as a cross-disciplinary ecosystem that enables creative social entrepreneurs, researchers, educators, and youth to remake our cities by connecting waste to design for society through ecological design and real projects. DOT TO DOT is both digital and live platform. It represents an innovative social and environmental model that allows smart communities to remake the city by connecting waste and local communities through “real projects” in Glasgow and then Scotland.
</p>
​
<p>
The digital dimension is an app/mobile-friendly website titled DOT TO DOT©. This social technology offers new opportunities to reuse ecologically empty sites and buildings on a temporary basis to improve youth life and disadvantaged communities by remaking with waste and time-banking exchange. It aims to connect schools, social enterprises, young designers, housing associations, community gardens, municipalities and stakeholders locally to design and build live projects to transform stalled spaces creatively. An interactive map allows user find, select and upload projects to refill gap sites.
</p>


​<img src="../../images/appoverview.png" alt="Diagram showing  the link between  people money and resources outlining time banking" align="middle"/>

​

​

<p>
DOT TO DOT© team collaboratively test and pilot eco-design solutions through research, knowledge exchange and teaching activities in the areas of Art, Waste, Design, Education, Science and Health. We work in association with a social enterprising network (GSEN), creative industry and stakeholders in association with Catalan and Scottish academic/research organisations
</p>
<br/>
<br/>
​​<img src="../../images/spacelogo.png"  alt="Diagram showing  the interaction between education,design,art, waste,science and  health. As well as the partner in the consortium"/>


