
p {
  font-family: "Calibri", Tahoma, sans-serif;
  font-size: medium;
  margin-right:5%;
  margin-left:5%
}

img {
  position:relative;
  left: 10%;
  right: 10%;
  margin:0 auto;


}
h2{ margin-right:5%;

    margin-left:5%
}
