<h2>Filter Projects</h2>
<div class="toggles ">
<p></p>
  <div class="toggle-border">
    <input [(ngModel)]="art"  (click)="changeArtFlag(!art)" type="checkbox" id="one" />
    <label for="one">
      <div class="artHandle"></div>
    </label>
  </div>
<p></p>
  <div class="toggle-border">
    <input [(ngModel)]="craft"  (click)="changeCraftFlag(!craft)" type="checkbox" id="two" checked />
    <label for="two">
      <div class="craftHandle"></div>
    </label>
  </div>
<p></p>
  <div class="toggle-border">
    <input [(ngModel)]="education"   (click)="changeEduFlag(!education)" type="checkbox" id="three" checked />
    <label for="three">
      <div class="eduHandle"></div>
    </label>s

  </div>
<p></p>
  <div class="toggle-border">
    <input [(ngModel)]="health"  (click)="changeHealthFlag(!health)" type="checkbox" id="four" checked />
    <label for="four">
      <div class="healthHandle"></div>
    </label>
  </div>

<p></p>
  <div class="toggle-border">
    <input [(ngModel)]="science" (click)="changeSciFlag(!science)" type="checkbox" id="five" checked />
    <label for="five">
      <div class="scienceHandle"></div>
    </label>
  </div>

</div>
<app-map-layers></app-map-layers>
<p></p>
<h3>Project Members</h3>

<div *ngFor=" let p of profiles;">

  <div>
    <p class="member">{{p.name}}</p>
    <p *ngFor="let j of p.hobbies" class="{{j.name}}"></p>
    <a href="#" [routerLink]="['/userProfile',p.name]">profile</a>
  </div>

</div>
