<md-accordion>
  <md-expansion-panel  class="trans">
    <md-expansion-panel-header>
      <md-panel-title>
         <h2>Filter Projects</h2>
      </md-panel-title>
    </md-expansion-panel-header>

    <div class="toggles ">
    <p></p>
      <span mdTooltip="Art and Design Projects">
      <div class="toggle-border">
        <input [(ngModel)]="art"  (click)="changeArtFlag(!art)" type="checkbox" id="one" />
        <label for="one">
         <div class="artHandle"></div>
        </label>
      </div></span>
    <p></p>
      <span mdTooltip="Craft and Workshop Projects">
      <div class="toggle-border">
        <input [(ngModel)]="craft"  (click)="changeCraftFlag(!craft)" type="checkbox" id="two" checked />
        <label for="two">
           <div class="craftHandle"></div>
        </label>
      </div>
      </span>
    <p></p>
      <span mdTooltip="Education Projects">
      <div class="toggle-border">
        <input [(ngModel)]="education"   (click)="changeEduFlag(!education)" type="checkbox" id="three" checked />
        <label for="three">
        <div class="eduHandle"></div>
        </label>

      </div>
      </span>
    <p></p>
      <span mdTooltip="Health Projects">
      <div class="toggle-border">
        <input [(ngModel)]="health"  (click)="changeHealthFlag(!health)" type="checkbox" id="four" checked />
        <label for="four">
           <div class="healthHandle"></div>
        </label>
      </div>
      </span>

    <p></p>
      <span mdTooltip="Science Projects">
      <div class="toggle-border">
        <input [(ngModel)]="science" (click)="changeSciFlag(!science)" type="checkbox" id="five" checked />
        <label for="five">
         <div class="scienceHandle"></div>
        </label>
      </div>
      </span>
    </div>
    <app-map-layers></app-map-layers>

  </md-expansion-panel>

  <md-expansion-panel class="trans">
  <md-expansion-panel-header>
    <md-panel-title>
      <h3>Project Members</h3>
    </md-panel-title>
  </md-expansion-panel-header>

  <div *ngFor=" let m of members">

    <md-card>
      <img src="{{m.avatar}}" style= "width:50px;height:50px;" align="left">
      <h3>{{m.name}}</h3>
      <a href="#" [routerLink]="['/userProfile',m.id]">profile</a>
    </md-card>

  </div>

  </md-expansion-panel>
</md-accordion>
