// Styled by Alexander Spencer on 23/02/2018
// Styling to be confirmed by others

#content{
width:90%;
  margin:auto;
}
button{
  background: #FFEB3B;
  color: #FFFFFF;
  border:none;
  display:inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  &:hover{
    border: 2px  solid #FFEB3B;
  }
  p{
    font-size:large;
  }
}
input{
  width:55%;
}
h1 h2 h3 h4 {
  font-family: "Calibri", Tahoma, sans-serif;

}
p{
  font-size:medium;
}
