.avatar{
  width:30px;
  height :30px;
  border-radius: 16px;

  border: 1px solid #1A237E;
}


.education {
  background:  rgb(49,172,255);

}

.science {

  background: rgb(255,13,218);


}

.artAndDesign {

  background:  rgb(255,238,15) ;


}
.health {

  background: rgb(166,252,5);


}

.craftAndWorkshop {

  background: rgb(237,45,40);


}
