<h1>Admin ashboard</h1>


<div class="col-sm-3">
  <h2>Users</h2>
  <md-card>

    <label>Search: <input ng-model="searchText"></label>
    <div *ngFor=" let u of users |async|search:searchText">
      <md-card>
        <div>
          <p class="member">{{u.name}}</p>
          <a href="#" [routerLink]="['/userProfile',u.name]">view profile</a>
          <button (click)="remove(u.id)">Delete</button>
          <button (click)="archive(u.id)">archive</button>
          <button (click)="promote(u.id)" >promote</button>
        </div>
      </md-card>
    </div>
  </md-card>
</div>


<div class="col-sm-3">
  <h2>project requests</h2>
  <md-card>
    <div *ngFor=" let pr of projectRequests |async">
      <md-card>
        <div>
          <p class="member">{{pr.name}}</p>
          <p>{{pr.summary}}</p>
          <a href="#" [routerLink]="['/projectRequest',pr.id]">View Details</a>
        </div>
      </md-card>
    </div>
  </md-card>
</div>

