/* You can add global styles to this file, and also import other style files */
body{
  font-family: Calibri, sans-serif;
}
.bar {
  background-color: lightyellow;
}

.bar nav{
  background-color: yellow;
}
.bar nav a:hover{
  background-color: lightgoldenrodyellow;
  font-weight: bold;
}
