<div class="ui-g">
  <div class="ui-grid-row">
    <!------------ section for project  notifications  ---------------->


    <!----- Map section ------>
    <div class ="col-sm-12 ">
     <!-- <div class="mapOverLay ">

          <app-notifications></app-notifications>






          <app-project-filter></app-project-filter>

      </div> --->

      <googlemaps-root>
      </googlemaps-root>
    </div>
  </div>


    <!--------------------   filter section ---------------------------->


  <!--------------------   project summary section ---------------------------->
  <div class="ui-grid-row">
      <app-project-summary></app-project-summary>
  </div>

</div>

