<div class="ui-g">
  <div class="ui-grid-row">


    <!----- Map section ------>
    <div class="col-sm-12 sebm-google-map-container ">

      <!------------ section for project  notifications  id="floating-panel" ---------------->
      <div hide-xs hide-sm show-md flex id="slideout">
        <img src = "../../images/messages.png"  alt="messages"/>
        <div id="floating-panel">
          <app-notifications></app-notifications>
        </div>
      </div>


      <!--------------------   filter section --------  id="floating-panel2" -------------------->
      <div  hide-sm hide-xs flex id="floating-panel2">
        <!--<div  hide-sm md-swipe-down="swipeDown()"> Swipe down to show Filters</div>-->
        <div *ngIf="showDiv">
          <app-project-filter></app-project-filter>

        </div>
      </div>

      <div id="map">


        <googlemaps-root>

        </googlemaps-root>
      </div>
    </div>
    <p> &nbsp;</p></div>


  <div class="ui-grid-row">
      <app-project-summary></app-project-summary>
  </div>

</div>


