<div class="ui-g">
  <div class="ui-grid-row">



    <!----- Map section ------>
    <div class ="col-sm-12 sebm-google-map-container ">

      <!------------ section for project  notifications  ---------------->
      <div id="floating-panel">

        <app-notifications></app-notifications>
      </div>


      <!--------------------   filter section ---------------------------->
        <div id="floating-panel2" >

          <app-project-filter></app-project-filter>
        </div>

      <div id="map">





        <googlemaps-root>

        </googlemaps-root>
      </div>
    </div>
  </div>





<div class="ui-grid-row" ><p> &nbsp;</p></div>
  <!--------------------   project summarys section ---------------------------->
  <div class="ui-grid-row">
      <app-project-summary></app-project-summary>
  </div>

</div>


