<div class="container mypadding">
  <h2>Project Alerts</h2>
  <div class="messgageContent">
    <div class="science">
      <img src="../../images/science3.png" alt="avatar" class="avatar swag">
      <h2>Come to our event on the 22nd?</h2>
    </div>
    <div class="health">
      <img src="../../images/health3.png" alt="avatar" class="avatar swag">
      <h2>We're demonstrating  how to cook using only purple  vegetables </h2>
    </div>
    <div class="education">
      <img src="../../images/education2.png" alt="avatar" class="avatar swag">
      <h2>Learn how to  make a  website on the 25th</h2>
    </div>
    <div class="artAndDesign">
      <img src="../../images/art2.png" alt="avatar" class="avatar swag">
      <h2>Learn how to do technical drawing 28th</h2>
    </div>

    <div class="craftAndWorkshop">
      <img src="../../images/craft3.png" alt="avatar" class="avatar swag">
      <h2>Learn how use the 3d Printer 30th </h2>
    </div>
    <div class="health">
      <img src="../../images/health.png" alt="avatar" class="avatar swag">
      <h2>Join us  for  a nature  walk along the  canal 28th </h2>
    </div>

  </div>
</div>
