<div class="container mypadding ">
  <h2>Recent Activity</h2>
  <div class="messgageContent">
    <div class="science">
      <img src="../../images/SCIENCE.png" alt="avatar" class="avatar swag">
      <p>Come to our event on the 22nd?</p>
    </div>
    <div class="health">
      <img src="../../images/HEALTH.png" alt="avatar" class="avatar swag">
      <p>We're demonstrating  how to cook using only purple  vegetables </p>
    </div>
    <div class="education">
      <img src="../../images/EDUCATION.png" alt="avatar" class="avatar swag">
      <p>Learn how to  make a  website on the 25th</p>
    </div>
    <div class="artAndDesign">
      <img src="../../images/ART%20AND%20DESIGN.png" alt="avatar" class="avatar swag">
      <p>Learn how to do technical drawing 28th</p>
    </div>

    <div class="craftAndWorkshop">
      <img src="../../images/craft.png" alt="avatar" class="avatar swag">
      <p>Learn how use the 3d Printer 30th </p>
    </div>
    <div class="health">
      <img src="../../images/HEALTH.png" alt="avatar" class="avatar swag">
      <p>Join us  for  a nature  walk along the  canal 28th </p>

    </div>

  </div>
</div>
