 <md-tab-group>

   <md-tab label="Recent Activity" >
     <div class="container mypadding ">
       <div class="messgageContent">

         <div class="loz science">
           <img src="../../images/sciIcon.png" alt="avatar" class="avatar swag">
           <p>Come to our event on the 22nd</p>
         </div>

         <div class="loz health">
           <img src="../../images/healthIcon.png" alt="avatar" class="avatar swag">
           <p>We're demonstrating  how to cook using only purple  vegetables </p>
         </div>

         <div class="loz education">
           <img src="../../images/eduIcon.png" alt="avatar" class="avatar swag">
           <p>Learn how to  make a  website on the 25th</p>
         </div>

         <div class="loz artAndDesign">
           <img src="../../images/artIcon.png" alt="avatar" class="avatar swag">
           <p>Learn how to do technical drawing 28th</p>
         </div>

         <div class="loz craftAndWorkshop">
           <img src="../../images/craft.png" alt="avatar" class="avatar swag">
           <p>Learn how use the 3d Printer 30th </p>
         </div>

         <div class="loz health">
           <img src="../../images/healthIcon.png" alt="avatar" class="avatar swag">
           <p>Join us  for  a nature  walk along the  canal 28th </p>
         </div>



         <div *ngFor="let n of notifications">
           <h2>{{n.title}}</h2>
           <p>{{n.message}}</p>
         </div>

       </div>
     </div>
   </md-tab>

   <md-tab label="{{this.projectName}}">
    <!-- <h2>Messages for <a href="#" [routerLink]="['/projects',messagething.id]">{{messagething.name}}</a></h2>-->
     <div  class="bs-example" id="messages">
       <div *ngFor="let message of messages | async">
         <div class="bubble {{this.projectType}}" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)" >
           <div *ngIf="message.avatar!==undefined; then content else other_content">here is ignored</div>
           <ng-template #content><img src= "{{message.avatar}}" class="avatar"/></ng-template>
           <ng-template #other_content><img src= "../../images/avatar.png" class="avatar"/></ng-template>
           <p>{{ message.message }}</p>
           <div class="author">
             {{ message.displayName }}
            </div>
           <div class="author"> {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}

           </div>
         </div>
       </div>
     </div>

     <figure class="highlight" >
       <label>
         <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" (return)="sendMessage()">
       </label>
       <a class="send-message" (click)="sendMessage()">SEND</a>
     </figure>

   </md-tab>

   <md-tab *ngIf="this.userflag===true" label="{{this.messageUser.name}}">
     <!-- <h2>Messages for <a href="#" [routerLink]="['/projects',messagething.id]">{{messagething.name}}</a></h2>-->
     <div  class="bs-example" id="messages">
       <div *ngFor="let message of userMessages | async">
         <div class="bubble {{this.projectType}}" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)" >
           <div *ngIf="message.avatar!==undefined; then content else other_content">here is ignored</div>
           <ng-template #content><img src= "{{message.avatar}}" class="avatar"/></ng-template>
           <ng-template #other_content><img src= "../../images/avatar.png" class="avatar"/></ng-template>
           <p>{{ message.message }}</p>
           <div class="author">
             {{ message.displayName }}
           </div>
           <div class="author"> {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}

           </div>
         </div>
       </div>
     </div>

     <figure class="highlight" >
       <label>
         <input type="textarea" class="message-text" [(ngModel)]="newUserMessage" (keyup.enter)="sendUserMessage()" (return)="sendMessage()">
       </label>
       <a class="send-message" (click)="sendUserMessage()">SEND</a>
     </figure>
   </md-tab>

 </md-tab-group>
